<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="t.br.tcc">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/escola"
        android:label="Colégio Brasil"
        android:roundIcon="@drawable/escola"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activty_login" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".popLogin"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_chatbot"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_pop_calendar"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity_Horario"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_freq"
            android:screenOrientation="portrait"/>
        <activity android:name=".tela_restrita"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_calendar"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_inserir"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_arquivo"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_nota"
            android:screenOrientation="portrait"/>
        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>
    </application>

</manifest>